@import "tailwindcss";

@theme {
  --color-brandBlack: #0E0E0E;
  --color-brandWhite: #F5F5F5;
  --color-brandSilver: #C0C0C0;
  --color-brandCrimson: #B11226;
  --color-brandCard: #161616;

  --font-sans: var(--font-open-sans), sans-serif;
  --font-oswald: var(--font-oswald), sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-brandBlack);
  color: var(--color-brandWhite);
}
